body{
  background-color: #666;
}


h1 {
  font-size: 40px;
  font-weight: normal;
  font-variant: small-caps;
  color: pink;
  text-align: center;
  background-color: blue;
}


/*  a{
    text-decoration:none;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #000000;
    color: #ffffff;
    padding: 2px 2px;
    text-align: center;
  }
*/
.form.button{
  padding: 200px 0px 0px 0px
  color: #ffffff;
  text-align:center;
  text-decoration:none;
  font-size: 15px;
  text-transform:initial;
  display:inline;
}


#pt  {
text-align:center;
padding: 50px 0px 0px 0px
}

#footer{
  padding: 200px 0px 0px 0px
  background-color: red;
  text-align: center;

}
